<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7-dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css">
-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body id="main">

  {{{body}}}

  <script src="/stylesheets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/auto_resize_input.js"> </script>
<!--  <script src="/js/poll.js"> </script>
  <script src="/js/description_check.js" ></script>
  <script src="/js/message_create.js" ></script>
  <script src="/js/user_overwrite.js" ></script> -->
  <script src="/js/socket_functions.js" charset="utf-8"></script>
  <!--<script src="/js/poll_style.js" charset="utf-8"></script>
-->

</body>

</html>
