
<link href="/stylesheets/description.css" rel="stylesheet" />


  <div class="panel-group" id="accordion">

      <div class="panel panel-default" id="panel1">
          <div class="panel-heading">
               <h4 class="panel-title">
          <a data-toggle="collapse" data-target="#collapseOne"
             href="#collapseOne">
            What is Geomatics?
          </a>
        </h4>

          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body" align="center">
             <p>
              Geomatics is a geospatial centered dicipline studied in both the sciences and engineering.
            </p>
              <img  src="/images/description/geo_1.jpg" alt="fuure" style="width:250px;height:250px; display: block; margin: auto auto;">
              <br/>
              </div>
          </div>
      </div>


      <div class="panel panel-default" id="panel2">
          <div class="panel-heading">
               <h4 class="panel-title">
          <a data-toggle="collapse" data-target="#collapseTwo"
             href="#collapseTwo" class="collapsed">
            Land Surveying
          </a>
        </h4>

          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body" align="center">
                 <p>
                the technique, profession, and science of determining the terrestrial or three-dimensional position of points and the distances and angles between them.
              </p>
                <img  src="/images/description/ls_1.jpg" alt="fuure" style="width:250px;height:250px; display: block; margin: auto auto;">
                <br/>
          </div>
      </div>

  </div>


      <div class="panel panel-default" id="panel3">
          <div class="panel-heading">
               <h4 class="panel-title">
          <a data-toggle="collapse" data-target="#collapseThree"
             href="#collapseThree" class="collapsed">
            Remote Sensing
          </a>
        </h4>

          </div>
          <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body" align="center">
                 <p>
                Remote sensing is the acquisition of information about an object or phenomenon without making physical contact with the object and thus in contrast to on site observation.
              </p>
<img  src="/images/description/rs_1.jpg" alt="fuure" style="width:250px;height:250px; display: block; margin: auto auto;">
<br/>
          </div>
      </div>
  </div>

  </div>
  <!-- Post Info -->
















  <!--
    <blockquote class="quote-box">
      <p class="quotation-mark">
        “
      </p>
      <p class="quote-text">
        Don't believe anything that you read on the internet, it may be fake.
      </p>
      <hr>
      <div class="blog-post-actions">
        <p class="blog-post-bottom pull-left">
          Abraham Lincoln
        </p>
        <p class="blog-post-bottom pull-right">
          <span class="badge quote-badge">896</span>
        </p>
      </div>
    </blockquote>
  -->
