<link rel="stylesheet" href="/stylesheets/login.css" media="screen" title="no title" charset="utf-8">


<div id="head_oor">
  <div id="head_Bar">
    <div id="head_Frame">
      <h1>Discussion Page</h1>
    </div>
  </div>
</div>

  <legend style="color:white">User Login</legend>

<div id="body_oor">
  <div id="body_background"> </div>
  <div id="body_area">

        <form class="form-horizontal" method="post" action="/users/login" >
            <fieldset class="user_info">
                <!-- Text input-->
                {{{failurelogin}}}
                <div class="user_info2">
                    <label class="user_label" for="textinput">Username</label>
                    <br>
                    <input id="username" name="username" placeholder="Enter in your Username" class="info_input" required="" type="text">
                </div>

                <!-- Password input-->
                <div class="user_info2">
                    <label class="user_label" for="password">Password</label>
                    <br>
                    <input id="password" name="password" placeholder="Please enter a password" class="info_input" required="" type="password">
                </div>

                <button class="login_button" type="submit" >Submit</button>
            </fieldset>
        </form>

        <form class="user_info" method="get" action="/users/register"  style="display: inline;">
            <button type="submit" class="show_all_button">I don't have an account</button>
        </form>

  </div>
</div>

<script>
    $(document).ready(function () {
        $('#logout').hide();
        $('#login').show();
    });
</script>
